{% assign disciplinas = '' %}
{% assign obrigatorias = '' %}
{% assign optativas = '' %}
{% for curso in include.curso %}
    {% assign disc = site.data.disciplinas | where: 'sigla', curso %}
    {% assign disciplinas = disciplinas | concat: disc %}
    {% assign tipo = disc[0].tipo | map: include.label %}
    {% if tipo contains "Obrigatórias" %}
      {% assign obrigatorias = obrigatorias | concat: disc %}
    {% endif %}
    {% if tipo contains "Optativas" %}
      {% assign optativas = optativas | concat: disc %}
    {% endif %}
{% endfor %}

## Disciplinas obrigatórias
{: .alert .alert-dark}

{% for n in (1..include.nsem) %}

{% assign CA=0 %}
{% assign CT=0 %}

### {{n}}º semestre
{: .alert .alert-secondary}

{% assign ns = n | downcase %}

{% assign sem = obrigatorias | where: include.curso_sem, ns %}

<table class="table table-hover">
<thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Nome</th>
      <th scope="col">CA</th>
      <th scope="col">CT</th>
      <th scope="col">CH</th>
    </tr>
</thead>

{% for disc in sem %}

<tr>
<td>
{% include disciplina-modal.html disciplina=disc curso=include.label %}
</td>
<td>{{disc.nome}}</td>
<td>{{disc.CA}}</td>
<td>{{disc.CT}}</td>
<td>{{disc.CH}}</td>
</tr>

{% assign CA=CA | plus: disc.CA  %}
{% assign CT=CT | plus: disc.CT  %}

{%- endfor -%}

<tfoot>
<tr>
<td></td>
<td style="text-align:right"><b>Total:</b></td>
<td>{{CA}}</td>
<td>{{CT}}</td>
{% assign CA=CA | times: 15 %}
{% assign CT=CT | times: 30 %}
{% assign CH=CA | plus: CT %}
<td>{{CH}} h</td>
</tr>
</tfoot>
</table>

{% endfor %}

## Disciplinas eletivas
{: .alert .alert-dark}

{% for n in (1..include.nsem) %}

{% assign sem = optativas | where: include.curso_sem, n %}

{% if sem.size > 0 %}

### {{ n }}º semestre
{: .alert .alert-secondary}

<table class="table table-hover">
<thead>
<tr>
      <th scope="col">Código</th>
      <th scope="col">Nome</th>
      <th scope="col">CA</th>
      <th scope="col">CT</th>
      <th scope="col">CH</th>
    </tr>
</thead>

{% for disc in sem %}

<tr>
<td>
{% include disciplina-modal.html disciplina=disc curso=include.label %}
</td>
<td>
{{disc.nome}}  {{tipo}}
</td>
<td>{{disc.CA}}</td>
<td>{{disc.CT}}</td>
<td>{{disc.CH}}</td>
</tr>
{%- endfor -%}
</table>

{% endif %}

{% endfor %}
