---
layout: page
disc: true
---

<h1>{{page.sigla}} - {{page.nome}}</h1>
<h2><i>{{page.nome_en}}</i></h2>
<ul>
  <li>Créditos-aula: {{page.CA}}</li>
  <li>Créditos-trabalho: {{page.CT}}</li>
  <li>Carga horária: {{page.CH}}</li>
  <li>Ativação: {{page.ativacao}}</li>
  <li>Semestre ideal: {{page.semestre}}</li>
  <li>Departamento: {{page.departamento}}</li>
</ul>
        
<h3>Objetivos</h3>
        
<p>{{page.objetivos | newline_to_br}}</p>
<p><i>{{page.objectives | newline_to_br}}</i></p>
        
<h3>Docente(s) Responsável(eis)</h3>
        
<ul>
  {%for docente in page.docentes %}
   <li>{{docente}}</li>
  {%endfor%}
</ul>
        
<h3>Programa resumido</h3>
        
<p>{{page.resumo | newline_to_br}}</p>
<p><i>{{page.abstract | newline_to_br}}</i></p>
          
<h3>Programa</h3>
          
<p>{{page.programa | newline_to_br}}</p>
<p><i>{{page.program | newline_to_br}}</i></p>
            
<h3>Avaliação</h3>

<ul>
  <li><b>Método:</b> {{page.metodo | newline_to_br}}</li>
  <li><b>Critério:</b> {{page.criterio | newline_to_br}}</li>
  <li><b>Norma de recuperação:</b> {{page.exame | newline_to_br}}</li>
</ul>

<h3>Bibliografia</h3>
         
<p>{{page.bibliografia | newline_to_br}}</p>
          
{% if page.requisitos %}
          
<h3>Requisitos</h3>

<ul>
  {%for requisito in page.requisitos %}
   <li>{{requisito.sigla}}: {{requisito.nome}} ({{requisito.tipo}})</li>
  {% endfor %}
</ul>

{% endif %}
       
<div class="btn-group" role="group" aria-label="Jupiter">
  <a type="button" class="btn btn-primary" href='{{page.link}}' target='_blank'>Ver no Jupiter</a>
</div>
<div class="btn-group" role="group" aria-label="Links da disciplina">
  <a type="button" class="btn btn-primary" href='{{site.baseurl}}/assets/cursos{{page.dir}}{{page.sigla | upcase}}.pdf' target='_blank'>Salvar em pdf</a>
  <a type="button" class="btn btn-primary" href='{{site.baseurl}}/assets/cursos{{page.dir}}{{page.sigla | upcase}}.docx' target='_blank'>Salvar em docx</a>
  <a type="button" class="btn btn-primary" href='{{site.baseurl}}/assets/cursos{{page.dir}}{{page.sigla | upcase}}.xlsx' target='_blank'>Salvar em xlsx</a>
</div>